interface eth0
{
    AdvSendAdvert on;
    #AdvManagedFlag on;
    #AdvOtherConfigFlag on;

    route fdcb:61::/64 {
    };
    route fdcb:66::/64 {
    };
};

interface lowpan0
{
    AdvSendAdvert on;
    AdvManagedFlag on;
    AdvOtherConfigFlag on;
    AdvSourceLLAddress on;
    MaxRtrAdvInterval 15;

    prefix fdcb:61::/64 {
        AdvOnLink off;
        AdvAutonomous on;
        #AdvRouterAddr on; # for IPv6 Mobile
    };
    RDNSS fdcb:61::1 {
        AdvRDNSSLifetime 600;
    };
};
